.dropdown-menu {
    display: flex;
    position: absolute;
    top: 0px; /* Réglage de la position du menu déroulant */
    right: 0px; /* Réglage de la position du menu déroulant */
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 0px;
}

.dropdown-menu a {
    display: block;
    color: aliceblue;
    text-decoration: none;
    padding: 8px 12px;
}

.dropdown-menu a:hover {
    color: #0ef;
}

.dropdown-menu a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-bottom: 2px solid #0ef;
    border-radius: 15px;
    transform: scale(0) translate Y(50px);
    opacity: 0;
    transition: .5s;
}

.dropdown-menu a:hover span {
    transform: scale(1) translate Y(0);
    opacity: 1;
}

.dropdown-menu.show {
    display: block;
}
