@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --text-color: #ededed;
    --bg-nav: rgb(0, 0, 0);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: linear-gradient(110deg, #2e08ba, #b90f0f, black);
    color: var(--text-color);
    height: 100vh; /* Ajoutez cette ligne pour définir une hauteur de 100% de la vue */
    z-index: -100;
}

section {
    min-height: 100vh;
    padding: 7rem 9% 2rem;
}

.header {
    position: fixed;
    width: 100%;
    display: flex;
    padding: 2rem 9%;
    background: var(--bg-nav);
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    font-size: 1.7rem;
    margin-left: 4rem;
    color: var(--text-color);
}

.header .logo {
    color: var(--text-color);
    font-size: 2.5rem;
}

.navbar a:hover,
.navbar a.active {
    color: red;
    text-decoration: underline 0.2rem;
}

.home {
    display: flex;
    align-items: center;
}

.home-content {
    max-width: 65rem;
}

.home .home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content .text-animate h3 {
    font-size: 5.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px rgb(207, 189, 189);
}

.home .home-img {
    position: relative;
    display: flex;
    margin-left: 10%;
    width: 50rem;
    height: 50rem;
}

.home .home-img img {
    border-radius: 30%;
}

.about {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    display: flex;
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 3rem;
    font-size: 5.2rem;
}

.about .about-img {
    position: relative;
    display: flex;
    width: 25rem;
    height: 25rem;
    justify-content: center;
    border-radius: 50%;
}

.about .about-img img {
    border-radius: 50%;
}
